<div class="input-field col s6 offset-s3">
    <select id="scope">
        <option value="" selected></option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <label>Pomodoro Scope</label>
</div>
