<a href="#" data-activates="slide-out" class="sidenav-button">
    <i class="material-icons">menu</i>
</a>
<ul id="slide-out" class="side-nav">
<li><div class="userView">
    <a href="#!user"><img class="circle" src="{{image}}"></a>
    <a href="#!name"><span class="blue-text text-darken-3 name">{{name}}</span></a>
    <a href="#!email"><span class="grey-text email">{{email}}</span></a>
</div></li>
<li><a href="#!"><i class="material-icons">dashboard</i>
    Week/Month Pomodoros</a></li>
<li><div class="divider"></div></li>
<li><a class="subheader">Teams</a></li>
<li><a class="waves-effect" href="#!">levii</a></li>
<li><a class="waves-effect" href="#!">...</a></li>
</ul>
