<div class="input-field col s12" style="margin-bottom: 1.5rem;">
    <input id="slack-team-name" placeholder="Please Integrate!"
           type="text" class="validate" disabled="disabled" />
    <label for="slack-team-name">Slack</label>
    <span class="btn blue darken-3 integrate-slack">
        Integrate
    </span>
</div>
<div class="input-field col s12">
    <input id="slack-channel-name" placeholder="Select Channel!"
           type="text" class="validate" disabled />
    <label for="slack-channel-name">Channel</label>
    <span class="btn btn blue darken-3 select-slack-channel">
        Select Channel
    </span>
    <div class="input-field col s12 slack-channel-list-wrapper"></div>
</div>
