<div id="pomodoros" class="col s3">{{name}}</div>
<div id="timer" class="col s6 center-align">
    <div class="circle"></div>
    <div class="control"></div>
</div>
<div class="col s1"></div>
<div id="timer-setting" class="col s2"></div>
