<h5 class="right-align blue-text text-darken-3">Team Settings</h5>
<div class="input-field col s12">
    <input value="{{name}}" id="teamName"
           type="text" class="validate" />
    <label for="teamName">Team name</label>
</div>
