<div id="pomodoros" class="col s3"></div>
<div id="timer" class="col s6 center-align">
    <div class="circle"></div>
    <div class="control"></div>
</div>
<div class="col s1"></div>
<div class="col s2">
    <div id="timer-setting" class="row"></div>
    <div id="team-setting" class="row"></div>
    <div id="team-members" class="row"></div>
</div>
