<div id="pomodoros" class="col s3"></div>
<div id="timer" class="col s6 center-align">
    <div class="setting"></div>
    <div class="circle"></div>
    <div class="control"></div>
</div>
<div class="col s1"></div>
<div class="col s2">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active">
                <i class="fa fa-clock-o"></i>Timer
            </div>
            <div class="collapsible-body">
                <div id="timer-setting" class="row"></div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="fa fa-users"></i>Team
            </div>
            <div class="collapsible-body">
                <div id="team-setting" class="row"></div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="fa fa-slack"></i>Slack
            </div>
            <div class="collapsible-body">
                <div id="slack-setting" class="row"></div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="fa fa-check"></i>Tasks
            </div>
            <div class="collapsible-body">
                <div id="task-setting" class="row"></div>
            </div>
        </li>
    </ul>
</div>
