<h5 class="right-align blue-text text-darken-3">Team Settings</h5>
<div class="input-field col s12">
    <input id="teamName"
           type="text" class="validate" />
    <label for="teamName">Team name</label>
</div>
<div class="input-field col s12">
<span class="btn btn-flat prefix blue-text text-darken-3 regen-invitation-link"
      style="padding: 0px; width: 2.5rem;">
    <i class="material-icons">replay</i>
</span>
<input id="invitationLink"
       type="text" class="validate" disabled />
<label for="invitationLink">Invitation Link</label>
</div>
