<h5 class="right-align blue-text text-darken-3">Settings</h5>
<div class="input-field col s12">
    <input value="{{pomodoroTime}}" id="pomodoroTime"
           type="text" class="validate"
    {{#if running}}disabled{{/if}}>
    <label for="pomodoroTime">Pomodoro Time [min]</label>
</div>
<div class="input-field col s12">
    <input value="{{breakTime}}" id="breakTime"
           type="text" class="validate"
        {{#if running}}disabled{{/if}}>
    <label for="breakTime">Break Time [min]</label>
</div>
<div class="col s12">
    <input id="isContinuous" type="checkbox">
    <label for="isContinuous">Continuous Mode</label>
</div>
