<div id="pomodoros" class="col s3"></div>
<div id="timer" class="col s6 center-align">
    <div class="circle"></div>
    <div class="control"></div>
</div>
<div class="col s1"></div>
<div class="col s2">
    <h5 class="right-align blue-text text-darken-3">Settings</h5>
    <div id="timer-setting" class="row"></div>
</div>
